<nav class="navbar navbar-inverse">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Booky</a>
    <div class="nav-collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li>{{link-to "Home" "application"}}</li>
        <li>{{link-to "Apps" "apps"}}</li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>{{link-to "Settings" "settings"}}</li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>